
/* Variables */
:root {
    --home-div-width:350px;
}

/* Font */
@font-face {
    font-family: 'Roboto';
    src: url('..\\fonts\\Roboto\\Roboto-Regular.ttf');
}
/* Font */


body {
    background-color: black !important;
    font-family: Roboto;

}


/* HEADER */
header {
    width: 100%;
    position: fixed;
}

.header-nav {
    width: 95%;
    display: flex;
    flex-direction: row;

    justify-content: right;
    
}




.header-nav a {
    margin-top: 2%;
    text-align: center;
    margin-left: 2%;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
}

.header-nav a.active {
    color: #D19F55;
}

/************************** Burger Header ******************************/
/* Burger nav */
/* Burger menu div */
.burger-menu-div {
    width: 100%;
    height: max-content;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10;

    padding-right: 10px;
    display: none;
}
/* Burger menu div */

/* Burger menu icon */
.burger-menu-icon {
    width: 30px;
    height: 30px;
    fill: white;
}
/* Burger menu icon */

.burger-nav {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* margin: 4%; */
    padding: 2%;
    background-color: #DBB6C5;
    
    display: none;
    box-shadow: 10px 10px 50px rgb(160, 144, 144, 20%);
}

.burger-nav a {
    margin-top: 2%;
    text-align: center;
    margin-left: 2%;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
}

.burger-nav a.active {
    color: #D19F55;
}

/* Burger nav */
/************************** Burger Header ******************************/

/* HEADER */



/* HOME HEAD PAGE */
.home-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.home-div img {
    margin-top: 50px;
    border-radius: 5px;
    width: var(--home-div-width);
}

/* IMG HOVER ANIMATION */
.home-div img:hover {
    animation: home-div-img-animation 900ms forwards;
}

@keyframes home-div-img-animation {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(150%);
    }
}

/* IMG HOVER ANIMATION */


.home-div p {
    color: #E0F8EC;
    text-align: center;
    font-family: Roboto;
    font-size: 35px;
    width: var(--home-div-width);
    text-transform: uppercase;
}

/* P HOVER ANIMATION */
.home-div p:hover {
    animation: home-div-p-animation 100ms infinite;
}
@keyframes home-div-p-animation {
    0% {
        color: #E0F8EC;
    }
    50% {
        color: #D19F55;
    }
}
/* P HOVER ANIMATION */

/* HOME HEAD PAGE */


/* Happy Users Cards Container */
.hcs-div {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    /* background-color: #0000FF; */
}
/* Happy Users Cards Container */


/* Happy User Card */
.hcs-div div {
    width: 46%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;

    border-radius: 5px;
    background-color: #DBB6C5;
}
/* Happy User Card */

/* Happy User Text Card */
.hcs-div div div{
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: start;

    /* background-color: #ca0b74; */
}
/* Happy User Text Card */

.hcs-div div div p {
    height: 100%;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
}


.hcs-div div img{
    width: 125px;
    height:125px;
    
    margin-left: 20px;
    border-radius: 50%;
}

/* For every category title */
p {
    color: #FFF;
    font-family: Roboto;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
/* For every category title */



/* FAQ */

/* FAQs cards */
.faqs-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* FAQs cards */


/* FAQ card */
.faq-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #DBB6C5;
}
/* FAQ card */

/* FAQ text */
.faq-text {
    font-size: 20px;
    color: white;
    text-align: start;
}
/* FAQ text */

/* FAQ question div */
.faq-question-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}
/* FAQ question div */

/* FAQ answer div */
.faq-answer-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
/* FAQ answer div */

.faq-icon {
    width: 50px;
    height: 100%;
    margin: 5px;
    fill: white;
    cursor: pointer;
}
/* FAQ */


/* FOOTER */
footer p {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 14px;
}
/* FOOTER */


/* Media Query */
@media only screen and (min-width: 1280px) {
    body {
        background-color: black;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    body {
        background-color: #3f0ed1;
    }
}

/* For Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    header {
        display: none;
    }


    .burger-menu-div {
        display: block;
    }
    .burger-nav {
        display: none;
    }
    body {
        background-color: chartreuse;
    }
}
/* For Tablet */

/* For Phones */
@media only screen and (max-width: 767px) {

    header {
        display: none;
    }


    .burger-menu-div {
        display: block;
    }
    .burger-nav {
        display: none;
    }


    body {
        background-color: blue;
    }
}
/* For Phones */